/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body {
  height: 100%; /* Ensures the height covers the entire viewport */
  margin: 0; /* Removes default margin */
}

body {
  background: radial-gradient(circle, 
    #D8D9DA 30%, /* Middle color */
    #61677A 70%,  /* Border color */
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}